/*
    Footer
*/
footer {
    display: block;
    position: absolute;
    z-index: 100;
    left: 0;
    right: 0;
    bottom: 0;
    height: 24px;
    line-height: 24px;
    background-color: rgb(48,48,48);
    padding: 0;
}
footer h1, footer h2 {
    font-size: 9.5pt;
    font-weight: 400;
    text-align: right;
    letter-spacing: 0.04em;
    position: absolute;
    bottom: 0;
    z-index: 10;
}
footer h1 { right: 32px; }
footer h2 { left: 8px; }
footer h1 i.icon, footer h2 i.icon {
    vertical-align: middle;
    font-size: 12px;
}

footer #footer-progressbar {
    display: none;
    height: 6px;
    width: 200px;
    position: absolute;
    bottom: 9px;
    left: 412px;
    z-index: 5;
    background-color: rgb(0,0,0);
}

footer #footer-progressbar > div {
    background-color: rgba(0,160,240,0.8);
    width: 0%; 
    height: 6px;   
}
