/*
    Form Fields
*/
input[type=number] {
    width: 15%;
    color: #b389f5;
    padding: 2px 8px;
    background: transparent;
    border: 1px solid rgba(255,255,255,0.3);
    border-radius: 3px;
}
input[type=text],input[type=password] {
    border: solid 1px rgb(96,96,96);
    background-color: rgb(32,32,32);
    color: rgb(192,192,192);
    font-size: 10pt;
    font-weight: 400;
    letter-spacing: 0.04em;
    height: 24px;
    outline: none;
}
input[type=text]:focus,input[type=password]:focus {
    color: rgb(252,252,252);
}

input[type=text]:disabled,input[type=password]:disabled {
    border-color: rgba(96,96,96,0.4);
    color: rgba(192,192,192,0.4);
    background-color: rgba(32,32,32,0.4);
}

input[type=button], button {
    outline: none;
}

input[type=radio],input[type=checkbox] {
    vertical-align: middle;
    margin-right: 8px;
}

.select {
    display: inline-block;
    overflow: hidden;
    height: 24px;
    line-height: 24px;
    border: none;
    border-radius: 5px;
}

.select > select {
    display: block;
    position: relative;
    height: 24px;
    line-height: 24px;
    margin: 0;
    padding: 0;
    color: rgb(192,192,192);
    background: transparent;
    font-size: 10pt;
    font-weight: 400;
    border: none;
    outline: none;
}

.select option { text-shadow: none; background-color: #595b5b; color: #c6c8c8; }



/*
    Buttons
*/
a.button, button, input[type=button] {
    display: inline-block;
    height: 24px;
    line-height: 24px;
    min-width: 24px;
    padding: 0 12px;
    font-weight: 400;
    font-size: 11pt;
    text-decoration: none;
    text-align: center;
    background-color: rgb(80,80,80);
    border-radius: 2px;
    border: none;
    color: rgb(192,192,192);
    vertical-align: middle;
    cursor: pointer;
    outline: none;
}
a.button:hover {
    color: rgb(255,255,255);
    background-color: rgb(64,64,64);
}
a.button.mini {
    height: 20px;
    line-height: 20px;
    min-width: 16px;
    font-size: 10pt;
    padding: 0 4px;
}
a.button.icon-only {
    padding: 0;
    background-color: none;
    width: 24px;
    font-size: 16px;
    line-height: 20px;

}
a.button i.icon {
    font-size: 12px;
    line-height: 12px;
    vertical-align: middle;
}
a.button.icon-only i.icon {
    font-size: 16px;
    line-height: 16px;
    vertical-align: middle;
}