/*
    Header
*/
header {
    display: block;
    position: absolute;
    z-index: 1000;
    top: 0;
    left: 0;
    right: 0;
    height: 30px;
    line-height: 30px;
    background-color: rgb(51,51,51);
    padding: 0 48px 0 0;
    -webkit-app-region: drag;
}
header.small { height: 24px; line-height: 24px; padding: 0 24px; }

header a, header input[type=input], header input[type=text], header button, header select { -webkit-app-region: no-drag; }

header div.group {
    display: inline-block;
}
header div.group a { margin-left: 8px; }

header a.minimize-button, header a.close-button, header a.app-menu, header a.info-button, header a.download-button {
    position: absolute;
    top: 0;
    display: block;
    width: 40px;
    height: 30px;
    text-align: center;
    text-decoration:  none;
    cursor:  default;
}
header a:hover {
    background-color: rgba(255,255,255,0.1);
}

header svg { 
    width: 24px;
    height: 24px;
    vertical-align: middle;
}

header a {
    display: inline-block;
    height: 30px;
    line-height: 30px;
    margin: 0;
    padding: 0;
    position: relative;
}
header a svg {
    position: absolute;
    top: 3px;
    left: 11px;
}
header a.app-menu svg {
    left: 8px;
}

header a:hover { background-color: rgba(255,255,255,0.1); }

header .control-buttons {
    display: inline-block;
    position: absolute;
    top: 0;
    right: 0;
}
header .control-buttons a {
    display: inline-block;
    width: 46px;
}

header .control-buttons a:hover { background: rgba(255,255,255,0.1); }
header .control-buttons a.close:hover { background: rgb(224,0,0); }
header .control-buttons a.close:hover svg path { fill: rgb(255,255,255); }


header.two-lines a, header.small a {
    width: 30px;
    height: 24px;
    line-height: 24px;
}
header.two-lines svg, header.small svg {
    width: 16px;
    height: 16px;
    left: 6px;
}


header h1 {
    line-height: 30px;
    font-size: 12pt;
    font-weight: 400;
    position: absolute;
    left: 32px;
    right: 64px;
    top: 0;
    z-index: 10;
}
header.small h1 { line-height: 24px; left: 64px; right: 64px; font-size: 10pt; }

header.two-lines {
    height: 64px;
}

header.two-lines h1 { line-height: 24px; }
header.two-lines div.buttons-row {
    display: inline-block;
    height: 40px;
    line-height: 40px;
}
header.two-lines .search-row {
    position: absolute;
    display: block;
    top: 30px;
    left: 0;
    right: 0;
    padding: 0 8px;
}

header.two-lines .search-row a.button {
    height: 30px;
    width: 30px;
    background: none;
}
header.two-lines .search-row a.button svg {
    width: 20px;
    height: 20px;
}

header.two-lines div.buttons-row span {
    display: inline-block;
    font-size: 9.5pt;
    font-weight: 600;
}

header.two-lines .select {
    vertical-align: middle;
    background-color: none;
}

header.two-lines .search-row input[type=text] {
    display: inline-block;
    width: 160px;
    margin: 0 4px;
    padding: 0 4px;
    vertical-align: middle;
    font-size: 9.5pt;
    border: none;
    background-color: rgba(0,0,0,0.1);
}

/*
    Top Buttons
*/
header .button-group {
    position: absolute;
    top: 0;
    left: 520px;
}
header .button-group a {
    width: 36px;
    border-radius: 5px;
    background-color: rgba(255,255,255,0.05);
}
header .button-group a:hover { background-color: rgba(255,255,255,0.2); }

header .button-group a svg {
    left: 7px;
}

/*
    Header Search
*/
header .search {
    position: absolute;
    left: 48px;
    display: block;
    height: 26px;
    vertical-align: top;
    -webkit-app-region: no-drag;
    background-color: rgba(255,255,255,0.1);
    border-radius: 13px;
    margin-top: 2px;
}

.search svg {
    display: inline-block;
    width: 20px;
    height: 20px;
}
.search svg.search-icon {
    position: absolute;
    left: 4px;
    top: 3px;
    opacity: 0.5
}
.search .select {
    margin-left: 24px;
    height: 26px;
    line-height: 26px;
}

.search .select select {
    color: rgb(128,128,128);
    border: none;
    height: 26px;
    font-size: 11pt;
}

.search .select select option {
    border: none;
}

.search input[type=text] {
    display: inline-block;
    border: none;
    width: 256px;
    height: 26px;
    line-height: 26px;
    padding: 0 4px;
    margin: 0;
    color: rgb(224,224,224);
    background-color: transparent;
    vertical-align: top;
    outline: none;
    font-size: 11pt;
}

.search button {
    border: none;
    background-color: transparent;
    color: rgb(160,160,160);
    display: inline-block;
    width: 24px;
    height: 24px;
    line-height: 24px;
    padding: 0;
    margin: -1px 4px 0 0;
    cursor: pointer;
    vertical-align: top;
}
