/*
    Header
*/
header {
    display: block;
    position: absolute;
    z-index: 1000;
    top: 0;
    left: 0;
    right: 0;
    height: 40px;
    line-height: 40px;
    background-color: rgb(48,48,48);
    padding: 0 40px;
    -webkit-app-region: drag;
}
header.small { height: 24px; line-height: 24px; padding: 0 24px; }

header a, header input[type=input], header input[type=text], header button, header select { -webkit-app-region: no-drag; }

header div.group {
    display: inline-block;
}
header div.group a { margin-left: 8px; }

header a.minimize-button, header a.close-button {
    position: absolute;
    top: 0;
    display: block;
    width: 40px;
    height: 40px;
    text-align: center;
    text-decoration:  none;
    color: rgba(255,255,255,0.8);
    font-size: 16px;
    cursor:  pointer;
}
header a.close-button { right: 0; }
header a.minimize-button { right: 40px; }
header.small a.minimize-button { right: 24px; }

header.small a.minimize-button, header.two-lines a.minimize-button,
header.small a.close-button, header.two-lines a.close-button {
	width: 24px;
	height: 24px;
	line-height: 24px;
}
header.small a.minimize-button, header.two-lines a.minimize-button { right: 24px; }

header a.minimize-button:hover, header a.close-button:hover { background-color: rgba(255,255,255,0.1); }

header h1 {
    line-height: 40px;
    font-size: 12pt;
    font-weight: 400;
    position: absolute;
    left: 16px;
    right: 48px;
    top: 0;
}
header.small h1 { line-height: 24px; left: 24px; right: 24px; font-size: 10pt; }

header.two-lines {
    height: 64px;
}

header.two-lines h1 { line-height: 24px; }
header.two-lines div.buttons-row {
    position: absolute;
    top: 24px;
    left: 16px;
    display: block;
    height: 40px;
    line-height: 40px;
}
header.two-lines .search-row {
    position: absolute;
    top: 33px;
    left: 107px;
    right: 0px;
    padding: 0 4px;
    width: 50%;
}

header.two-lines div.buttons-row span {
    display: inline-block;
    font-size: 9.5pt;
    font-weight: 600;
    padding-right: 8px;
}

header.two-lines .select {
    vertical-align: middle;
    background-color: rgb(32,32,32);
}

header.two-lines .search input[type=text] {
    width: 280px;
}


/*
    Header Search
*/
.search {
    display: inline-block;
    height: 24px;
    border-radius: 12px;
    background-color: rgb(64,64,64);
    vertical-align: middle;
    -webkit-app-region: no-drag;
}

.search i.icon {
    vertical-align: top;
    font-size: 12px;
    display: inline-block;
    padding: 0 0 0 8px;
    height: 24px;
    line-height: 24px;
}

.search .select select {
    color: rgb(128,128,128);
    border: none;
}

.search .select select option {
    border: none;
}

.search input[type=text] {
    display: inline-block;
    border: none;
    width: 320px;
    height: 24px;
    line-height: 24px;
    padding: 0 4px;
    margin: 0;
    color: rgb(192,192,192);
    background-color: transparent;
    vertical-align: top;
    outline: none;
}
.search button {
    border: none;
    background-color: transparent;
    color: rgb(160,160,160);
    display: inline-block;
    width: 24px;
    height: 24px;
    line-height: 24px;
    padding: 0;
    margin-right: 4px;
    cursor: pointer;
    vertical-align: top;
}
