/*

    All SVG icons can be downloaded from: http://svgicons.sparkk.fr/

    Using Set #10 glyphs

*/

svg {
    width: 20px;
    height: 20px;
    vertical-align: text-bottom;
}

svg path, svg polygon, svg rect {
    fill: rgb(252,252,252);
}
svg circle {
    stroke: rgb(252,252,252);
    stroke-width: 1;
}

svg { opacity: 0.75; }
svg.dim { opacity: 0.40; }
svg.bright { opacity: 1.0; }

svg.red path, svg.red polygon, svg.red rect { fill: rgb(240,0,0); }
svg.red circle { stroke: rgb(240,0,0); }

svg.green path, svg.green polygon, svg.green rect { fill: rgb(0,240,0); }
svg.green circle { stroke: rgb(0,240,0); }

svg.yellow path, svg.yellow polygon, svg.yellow rect { fill: rgb(240,240,0); }
svg.yellow cirlce { stroke: rgb(240,240,0); }

svg.black path, svg.black polygon, svg.black rect { fill: rgb(0,0,0); }
svg.black circle { stroke: rgb(0,0,0); }


#list svg.watched {
    display: inline-block;
    margin: 3px 4px -3px 0;
}
