#bookmark-list tr:hover {
    background-color: rgba(0, 0, 0, 0);
}

#bookmark-list tr.male img.avatar {
    border: solid 4px rgb(80, 96, 240);
}

#bookmark-list tr.female img.avatar {
    border: solid 4px rgb(255, 160, 160);
}

#bookmark-list td {
    font-size: 10pt;
    position: relative;
    padding: 4px 0;
    height: 160px;
    border-bottom: solid 4px rgba(0, 0, 0, 0.6);
}

#bookmark-list h1,
#bookmark-list h2,
#bookmark-list h3,
#bookmark-list h4 {
    position: absolute;
    left: 8px;
}

#bookmark-list h1 {
    font-size: 14pt;
    font-weight: 400;
    line-height: 24px;
    top: 16px;
}

#bookmark-list h2 {
    font-size: 9.5pt;
    font-weight: 400;
    line-height: 12pt;
    top: 48px;
}

#bookmark-list h3 {
    font-size: 9.5pt;
    line-height: 16px;
    top: 88px;
}

#bookmark-list h4 {
    font-size: 9.5pt;
    line-height: 16px;
    top: 104px;
}

#bookmark-list h3 span,
#bookmark-list h4 span {
    display: inline-block;
    width: 80px;
    font-size: 8pt;
    font-weight: 600;
}

#bookmark-list div.buttons {
    position: absolute;
    bottom: 4px;
    left: 8px;
}

#bookmark-list td div.buttons a.button {
    margin-right: 2px;
    width: 92px;
    font-size: 9pt;
    line-height: 24px;
    height: 24px;
    font-weight: 400;
}

#bookmark-list td .flag {
    display: none;
}

#bookmark-list td .bookmarkicon, #bookmark-list td .monitoricon {
    position: absolute;
    top: 4px;
    right: 8px;
    display: block;
    width: 16px;
    height: 16px;
    font-size: 16px;
    z-index: 1000;
    cursor: pointer;
}

#bookmark-list td .bookmarkicon { right: 8px; }
#bookmark-list td .monitoricon { right: 32px; }

#bookmark-list tr td .monitor-flag { color: darkgray; }
#bookmark-list tr.monitored td .monitor-flag { color: blue; }


#bookmark-search {
    width: 160px;
    left: 56px;
}

.active-timespan {
    display: block;
    position: absolute;
    top: 24px;
    line-height: 40px;
    left: 248px;
}
#bookmark-timespan {
    
    width: 40px;
    text-align: right;
}
