h4 {
    padding: 0 8px 4px;
    margin: 32px 0 8px;
    border-bottom: solid 2px rgba(255,255,255,0.2);
}

h4 svg {
    width: 24px;
    height: 24px;
    vertical-align: middle;
    margin-right: 4px;
}

main {
    display: block;
    overflow: hidden;
}

p {
    font-size: 12pt;
    font-weight: 600;
    padding: 16px;
    text-align: center;
}
ul {
    margin: 8px 16px 16px;
}

ul li {
    line-height: 40px;
    margin: 24px 0;
    padding: 0;
    position: relative;
}

ul li svg {
    width: 32px;
    height: 32px;
    cursor: pointer;
    float: right;
    position: absolute;
    top: 2px;
    right: 0px;
}
ul li svg.eye {
    right: 48px;
}

input.numInput {
    width: 32px;
    text-align: center;
    margin: 0 4px;
}

h5 {
    position: absolute;
    top: 314px;
    line-height: 24px;
    font-size: 11pt;
    display: block;
    left: 0px;
    right: 0px;
    border-bottom: solid 2px rgba(255,255,255,0.2);
    padding: 0 16px;
}

#results {
    display: block;
    position: absolute;
    top: 340px;
    bottom: 0;
    left: 0;
    right: 0;
    overflow-x: hidden;
    overflow-y: scroll;
}

#results h4 { font-size: 12pt; text-align: center; border-bottom: none; margin: 0 0 8px; padding: 0; }
#results .entry {
    display: block;
    margin: 8px 0;
    height: 48px;
    border-bottom: solid 1px rgba(255,255,255,0.1);
    position: relative;
}
#results .entry .dt {
    position: absolute;
    top: 2px;
    right: 4px;
    font-size: 9pt;
}

#results .entry .name {
    position: absolute;
    top: 2px;
    left: 2px;
    font-size: 12pt;
    line-height: 24px;
}

#results .entry .luid {
    position: absolute;
    top: 28px;
    left: 4px;
    font-size: 9pt;
}
#results .entry .suid {
    position: absolute;
    top: 28px;
    right: 4px;
    font-size: 9pt;
}