
* {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	font-family: 'source-sans-pro', Arial, Helvetica, sans-serif;
}

::-webkit-input-placeholder {
    color: rgba(255,255,255,0.30);
}

body {
	margin: 0;
	padding: 0;
	-webkit-user-select: none;
	cursor: default;
    color: rgb(192,192,192);
    background-color: rgb(48,48,48);
    font-weight: 400;
    letter-spacing: 0.01em;
    font-size: 10pt;
}

h1,h2,h3,h4,h5,h6 { margin: 0em; padding: 0em; }
h1 { font-weight: 300; font-size: 4em; }
h2 { font-weight: 300; font-size: 3em; }
h3 { font-weight: 400; font-size: 2em; }
h4 { font-weight: 400; font-size: 1.5em; }
h5 { font-weight: 400; font-size: 1em; }
h6 { font-weight: 600; font-size: 0.8em; }
.titleColor { color: #9356f3; }
.link { color: #b389f5; text-decoration: none; }
.link:hover { color: #d7bdff; }
.text-center { width: 100%; text-align: center; display: block; }
.text-right { width: 100%; text-align: right; display: block; }
p { margin: 1em 0em; }

ul {
    list-style:  none;
    margin: 0;
    padding: 0;
}
ul li {
    margin: 4px 0;
    padding: 0;
}

.alert {
    font-size: 18px;
    padding: 10px;
    background: #000;
}
.alert span {
    color: #9356f3;
    font-weight: bold;
}